@using WeatherApp.Models
@model CityWeather

<!DOCTYPE html>
<html>
<head>
    <title>City Weather</title>
    <meta charset="utf-8" />
    <link href="/StyleSheet.css" rel = "stylesheet"/>
</head>
<body>
<div class="page-content">
    <h1>Weather</h1>
    <div class="box w-50">
        <h3>@Model.CityName</h3>
        <table class="table">
            <tbody>
            <tr>
                <td>Hour</td>
                <td>@Model.GetDateAndTime().ToString("h:mm tt zz")</td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td>@Model.TemperatureFahrenheit °F</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<a href="/">Back to Weather Home Page</a>
</body>
</html>