@{
    ViewBag.Title = "Social Media Links";
}

<h1>Social Media Links</h1>
<div class="flex">
    <div class="box"><a href="@ViewBag.Facebook">Facebook</a></div>
    <div class="box"><a href="@ViewBag.Twitter">Twitter</a></div>
    <div class="box"><a href="@ViewBag.Youtube">Youtube</a></div>
    <environment include="Development">
        <div class="box"><a href="@ViewBag.Instagram">Instagram</a></div>
    </environment>
</div>