@model StocksApp.Models.StockTrade

<div class="box">
    <h1 class="stock-title">@Model.StockName</h1>
    <p class="hidden" id="stock-symbol_@Model.StockSymbol">@Model.StockSymbol</p>
    <small>$</small> <span class="price" id="price_@Model.StockSymbol">@Model.Price.ToString("N")</span>
</div>

<script type="text/javascript">

    window.addEventListener('load', function() {
        const fetchInterval = 3000;
        setInterval(FetchStockPrice, fetchInterval);
    });

    async function FetchStockPrice() {
        fetch("api/v1/StockPriceQuote?stockSymbol=@Model.StockSymbol", { method: "GET" })
            .then(function(response) {
                var data = JSON.parse(response);
                UpdateStockPrice(data["c"]);
            });

        document.querySelector("#price_@Model.StockSymbol").innerHTML = responsebody;
    }
    // Update: Prevents duplicate rendering
    function UpdateStockPrice(data) {
        const stockPrice = document.getElementById('price_@Model.StockSymbol');
        stockPrice.innerHTML = data;
    }

</script>