@model CityWeather

<!DOCTYPE html>
<html>
<head>
    <title>City Weather</title>
    <meta charset="utf-8" />
    <link href="/StyleSheet.css" rel = "stylesheet"/>
</head>
<body>
<div class="page-content">
    <h1>Weather</h1>
    <vc:weather-details city-weather="Model"></vc:weather-details>
</div>
<a href="/">Back to Weather Home Page</a>
</body>
</html>