<div class="list-container">
    <h3>@ViewBag.ListTitle</h3>
    
    @{
        ViewBag.ListTitle = "Updated";
    }

    <ul class="list">
        @foreach (string item in ViewBag.ListItems)
        {
            <li>@item</li>
        }
    </ul>
</div>