@model StocksApp.Models.Stock

@{
    ViewBag.Title = "Home";
}

<div class="box trading-panel">
    <div class="flex trading-panel-flex">

        <div id="stock-price-panel">
            <div class="stock">
                <h1 class="stock-title">@Model.StockSymbol</h1>
                
                <table>

                </table>
            </div>
        </div>
    </div>
</div>